<!-- <div class="container">
    <a href="#" class="list-group-item clearfix card-body"
     (click)="onSelected()" >
    <div class="container ">
    <h4 class="list-group-item-heading mt-4 ">{{recipe.name}}</h4>
    <p class="list-group-item-text"> {{recipe.desc}} </p>
    </div>
    <span class="float-end">
    <img                 
    [src]="recipe.imgPath" 
     alt="{{recipe.name}}" 
    class=""
    style="max-height: 65px;  margin-top: -100px;" >
    </span>
    </a>
</div> -->


<!-- <div class="container">
  <a  
  [routerLink]="[index]"
  routerLinkAcitve="active"
  style="cursor: pointer;"
  class="list-group-item "
  
  >
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            [src]="recipe.imgPath"
            alt="{{ recipe.name }}"
            class="img-fluid"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="">{{ recipe.name }}</h5>
            <p class="">{{ recipe.desc }}</p>
          </div>
        </div>
      </div>
    </div>
  </a>
</div> -->


<a style="cursor: pointer;"
   style="text-decoration: none" 
   [routerLink]="[index]"
   routerLinkActive="active">
   
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          [src]="recipe.imagePath"
          alt="{{ recipe.name }}"
          class="img-fluid"
          style="margin-top: 50px;"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h4 class="card-title">{{ recipe.name }}</h4>
          <p class="card-text">{{ recipe.description }}</p>
        </div>
      </div>
    </div>
  </div>
</a>
<!-- ok -->
