<!-- <div class="container">
    <a href="#" class="list-group-item clearfix card-body"
     (click)="onSelected()" >
    <div class="container ">
    <h4 class="list-group-item-heading mt-4 ">{{recipe.name}}</h4>
    <p class="list-group-item-text"> {{recipe.desc}} </p>
    </div>
    <span class="float-end">
    <img                 
    [src]="recipe.imgPath" 
     alt="{{recipe.name}}" 
    class=""
    style="max-height: 65px;  margin-top: -100px;" >
    </span>
    </a>
</div> -->
<div class="container">
  <a href="#" (click)="onSelected()">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            [src]="recipe.imgPath"
            alt="{{ recipe.name }}"
            class="img-fluid"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="">{{ recipe.name }}</h5>
            <p class="">{{ recipe.desc }}</p>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
