 <div class="container mt-5">
    <div class="row">
         <div class="col-12">
            <!-- <div class="alert alert-danger" *ngIf="error">
             <p>    {{ error }} </p> 
            </div> -->
              <app-alert [message]="error" *ngIf="error"> </app-alert>
            <div class="container-shadow">
                <div *ngIf="isLoading" style="text-align: center;">
                  <app-loading-spinner></app-loading-spinner>
                </div>
                <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input 
                        type="text" 
                        class="form-control" 
                        name="email" 
                        id="email"
                        ngModel
                        required
                        email
                        >
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input 
                        type="password" 
                        class="form-control mb-3" 
                        name="password" 
                        id="password"
                        ngModel
                        required
                        minlength="6"
                        >
                    </div>
                    <button 
                    type="submit" 
                    class="btn btn-primary me-2" [disabled]="!authForm.valid"> {{isLoginMode ? 'Login' : 'Sign Up'}} </button>
                    <button type="button" class="btn btn-link" (click)="onSwitchMode()">Switch to {{isLoginMode ? 'sign Up' : 'Login' }}</button>
                </form>
            </div>
        </div>
    </div>
</div>