<div class="container pt-5">
    <div class="col-12">
        <form [formGroup]="recipeForm" 
               (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-12">
                    <button 
                    type="submit" 
                    class="btn btn-success"
                    [disabled]="!recipeForm.valid"
                    >
                    Save
                </button>
                    <button 
                    type="submit" 
                    class="btn btn-danger">Cancel</button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input 
                    type="text" 
                    name="" 
                    formControlName="name" 
                    class="form-control"
                    >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <label for="name">Img URL</label>
                    <input 
                    type="text"                 
                    id="name" 
                    class="form-control"
                    formControlName="imgPath"
                    >
               <img src="" alt="">
               </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                <div class="form-group">
                    <label for="name">Discription</label>
                    <textarea 
                    type="text" 
                    name="desc" 
                    id="desc" 
                    class="form-control"
                    rows="6"
                    formControlName="desc"
                    >
                    </textarea>
                    </div>
                </div>
              
                <div class="row pt-5">
                    <div class="col">
                    <div class="form-group" formArrayName="ingrediants">
                      <div 
                      class="row"
                      *ngFor="let ingredientCtrl of controls; let i = index"
                      [formGroupName]="i"
                      >
                        <div class="col-8">
                            <label for="text">Name</label>
                            <input 
                            type="text" 
                            class="form-control"
                            formControlName="name"
                            >
                            
                           
                        </div>
                        <div class="col-2">
                            <label for="number"> Amount </label>
                            <input 
                            type="number" 
                            class="form-control"
                            formArrayName="amount"
                            > 
                        </div>
                        <div class="col-2">
                          
                            <button class="btn btn-danger mt-4">X</button>
                         </div>
                    </div>
                        <div class="row">
                            <div class="col-12">
                                <button 
                                type="button"
                                (click)="onAddIngredient()"
                                class="btn btn-success">Add Ingredient</button>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>