<div class="row pt-3">
    <div class="col-xs-12">
        <form action="">
            <div class="row">
                <div class="col-sm-5 form-group" >
                    <label for="name">Name</label>
                    <input 
                    type="text" 
                    name="" id="name" 
                    class="form-control"
                    #nameInput
                    >
                     <!-- add  Name for input -->
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input 
                    type="text" 
                    name="" 
                    id="amount" 
                    class="form-control"
                    #amountInput 
                    >
                    <!-- add localReferenc for input -->
                </div>
            </div>

            <div class="row pt-4">
                <div class="col-xs-12 ">
                    <!-- add local Referecnt for add  -->
                    <button class="btn btn-success " type="sumbit" (click)="onAddItem()">Add</button>
                    <button class="btn btn-danger " type="button">Delet</button>
                    <button class="btn btn-primary " type="button">Clear</button>

                </div>
            </div>
        </form>
    </div>
</div>
