<div class="row">
    <div class="col-xs-md-12 mb-3">
       <button class=" btn btn-success ">New Recipe</button>
    </div>
    <hr>
</div>
<div class="container card  w-75 mb-3  ">
    <div class="col-xs-md-12 ">
        <a href="#" class="list-group-item clearfix card-body" *ngFor="let recipe of recipes;">
            <div class="pull-left">
                <h4 class="list-group-item-heading"> {{recipe.name}}</h4>
                <p class="list-group-item-text"> {{recipe.desc}} </p>
            </div>
            <span class="float-end">
                <img 
                
                 [src]="recipe.imgPath" 
                 alt="{{recipe.name}}" 
                 class="img-responsive"
                 style="max-height: 50px;" >
            </span>
            
        </a>
        <app-recipe-item></app-recipe-item>
    </div>
    
</div>
       
    



